In [14]:
import pandas as pd

In [15]:
df=pd.read_csv("/kaggle/input/car-price-prediction-mlr-textual-data/Used Car Dataset.csv")
df.head()

,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,Mercedes,2017,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996,2996,333,63.75
1,Nissan,2021,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999,999,9863,8.99
2,BMW,2018,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995,1995,188,23.75
3,Kia,2019,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353,1353,13808,13.56
4,Skoda,2019,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798,1798,17746,24.00

* In above DataFrame  car_name,insurance_validity input columns required nominal encoding
* ownsership,transmission,fuel_type required ordered encoding

# Ordinal Encoding

In [16]:
df["fuel_type"].value_counts()

#see total number of distict values present in fuel_type feature

fuel_type
Petrol    65
Diesel    30
CNG        4
Name: count, dtype: int64

In [17]:
df["ownership"].value_counts()

#see total number of distict values present in ownership input column

ownsership
First Owner     83
Second Owner    14
Third Owner      2
Name: count, dtype: int64

In [18]:
df["transmission"].value_counts()

#see total no of distinct values present in the transmission

transmission
Manual       50
Automatic    49
Name: count, dtype: int64

* CNG > Diesel > Petrol
* First Owner > Second Owner > Third Owner
* Automatic > Manual

In [19]:
df2=pd.DataFrame()
df2=pd.concat([df2,df["fuel_type"],df["ownership"],df["transmission"]],axis=1)
print(df2)

#concate 3rd ,6th ,7th column together and make different DataFrame 

#concatination syntex:-
#pandas.concat([target_df,column 1,column 2,...,column n] , axis=0/1)
#axis=0 means concatination on x-axis
#axis=1 means concatination on y-axis

   fuel_type    ownsership transmission
0     Petrol   First Owner    Automatic
1     Petrol   First Owner    Automatic
2     Diesel   First Owner    Automatic
3     Petrol   First Owner       Manual
4     Petrol   First Owner    Automatic
..       ...           ...          ...
94    Petrol   First Owner    Automatic
95       CNG   First Owner       Manual
96    Diesel   First Owner       Manual
97    Petrol  Second Owner       Manual
98    Petrol   First Owner       Manual

[99 rows x 3 columns]

In [20]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder(categories=[["Petrol","Diesel","CNG"],["Third Owner","Second Owner","First Owner"],["Manual","Automatic"]])

#making object or Ordinal Encoding Class

In [21]:
fot_array=oe.fit_transform(df2)
fot_array

#apply ordinal encoding
#it returns array

In [22]:
fot_df=pd.DataFrame(fot_array,columns=["fuel_type","ownership","transmission"])
fot_df

#convert above array into dataframe

    fuel_type  ownership  transmission
0         0.0        2.0           1.0
1         0.0        2.0           1.0
2         1.0        2.0           1.0
3         0.0        2.0           0.0
4         0.0        2.0           1.0
..        ...        ...           ...
94        0.0        2.0           1.0
95        2.0        2.0           0.0
96        1.0        2.0           0.0
97        0.0        1.0           0.0
98        0.0        2.0           0.0

[99 rows x 3 columns]

# Nominal Encoding

In [23]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(drop="first")

#making object of OneHotEncodig clas

In [25]:
df["insurance_validity"].head()

0    Comprehensive
1    Comprehensive
2    Comprehensive
3    Comprehensive
4    Comprehensive
Name: insurance_validity, dtype: object

In [26]:
df.iloc[:,2:3].value_counts()

#see how many distinct values are present in insurance_validity

insurance_validity
Comprehensive            74
Third Party insurance    22
Zero Dep                  2
Third Party               1
Name: count, dtype: int64

In [27]:
in_v_sparce_arr = ohe.fit_transform(df.iloc[:,2:3])
print(in_v_sparce_arr)
in_v_arr=in_v_sparce_arr.toarray()
print(in_v_arr)

#do OneHotEncoding
#it give sparce matrics stored in in_v_sparce_arr
# in_v_sparce_arr means insurance_validity_sparce_array
#convert sparce matrics to an array using .toarray() function and stored in in_v_arr array
#in_v_arr means insurance_validity_array

In [28]:
in_v_arr_df=pd.DataFrame(in_v_arr,columns=["insurance_validity_Third Party insurance","insurance_validity_Zero Dep","insurance_validity_Third Party"])
in_v_arr_df.head()

#convert above in_v_arr to DataFrame named in_v_arr_df
#in_v_arr_df means insurance_validity_array_dataframe

,insurance_validity_Third Party insurance,insurance_validity_Zero Dep,insurance_validity_Third Party
0,0.0,0.0,0.0
1,0.0,0.0,0.0
2,0.0,0.0,0.0
3,0.0,0.0,0.0
4,0.0,0.0,0.0

# Ordinal Encoding With Top Categories (car_name)

In [30]:
car_count=df["car_name"].value_counts()
car_count

# see which different values are present in car_name column

car_name
Maruti        18
Hyundai       17
Honda         14
BMW            8
Mercedes       6
Toyota         6
Kia            5
Jeep           5
Tata           3
Renault        3
Jaguar         2
Mahindra       2
Volkswagen     2
MG             2
Audi           2
Ford           1
Nissan         1
Skoda          1
Mahindra       1
Name: count, dtype: int64

make all the cars having <= 5 value, put them together and named as others

# Using Pandas get_dummies() function

In [31]:
thresould=5
replacable=car_count[car_count <= thresould]
replacable

#fatch all the columns which are replacable

car_name
Kia           5
Jeep          5
Tata          3
Renault       3
Jaguar        2
Mahindra      2
Volkswagen    2
MG            2
Audi          2
Ford          1
Nissan        1
Skoda         1
Mahindra      1
Name: count, dtype: int64

In [32]:
replacable_car_array = replacable.index
print(replacable_car_array)

#fatch all the name of the car form replacable dataframe using .index

Index(['Kia', 'Jeep', 'Tata', 'Renault', 'Jaguar', 'Mahindra ', 'Volkswagen',
       'MG', 'Audi', 'Ford', 'Nissan', 'Skoda', 'Mahindra'],
      dtype='object', name='car_name')

In [33]:
replaced_df = df["car_name"].replace(replacable_car_array,"others")
replaced_df.head()

#replace replacable car_name with others
#replace not modifies actual data

0    Mercedes
1      others
2         BMW
3      others
4      others
Name: car_name, dtype: object

In [34]:
replaced_df.value_counts()

#now again see what different values are present in the car_name column of replaced_df datafram

car_name
others      30
Maruti      18
Hyundai     17
Honda       14
BMW          8
Mercedes     6
Toyota       6
Name: count, dtype: int64

In [35]:
new_car_name_df=pd.get_dummies(replaced_df)
print(new_car_name_df.head())
print(new_car_name_df.shape)

#do nominal encoding using get_dummies function of pandas

     BMW  Honda  Hyundai  Maruti  Mercedes  Toyota  others
0  False  False    False   False      True   False   False
1  False  False    False   False     False   False    True
2   True  False    False   False     False   False   False
3  False  False    False   False     False   False    True
4  False  False    False   False     False   False    True
(99, 7)

# Concatination of all the transformed columns

In [36]:
df.head()

,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,Mercedes,2017,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996,2996,333,63.75
1,Nissan,2021,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999,999,9863,8.99
2,BMW,2018,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995,1995,188,23.75
3,Kia,2019,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353,1353,13808,13.56
4,Skoda,2019,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798,1798,17746,24.00

In [41]:
new_df=pd.DataFrame()
new_df=pd.concat([new_df,new_car_name_df,df["registration_year"],in_v_arr_df,fot_df,df["seats"],df["kms_driven"],df["manufacturing_year"],df["mileage(kmpl)"],df["engine(cc)"],df["max_power(bhp)"],df["torque(Nm)"],df["price(in lakhs)"]],axis=1)
print(new_df.head())

#concate all the columns which we transformed and which remain as it is in new datafram

     BMW  Honda  Hyundai  Maruti  Mercedes  Toyota  others  registration_year  \
0  False  False    False   False      True   False   False               2017
1  False  False    False   False     False   False    True               2021
2   True  False    False   False     False   False   False               2018
3  False  False    False   False     False   False    True               2019
4  False  False    False   False     False   False    True               2019

   insurance_validity_Third Party insurance  insurance_validity_Zero Dep  ...  \
0                                       0.0                          0.0  ...
1                                       0.0                          0.0  ...
2                                       0.0                          0.0  ...
3                                       0.0                          0.0  ...
4                                       0.0                          0.0  ...

   ownership  transmission  seats  kms_driven  manufacturing_year  \
0        2.0           1.0      5       56000                2017
1        2.0           1.0      5       30615                2020
2        2.0           1.0      5       24000                2018
3        2.0           0.0      5       18378                2019
4        2.0           1.0      5       44900                2019

   mileage(kmpl)  engine(cc)  max_power(bhp)  torque(Nm)  price(in lakhs)
0           7.81        2996            2996         333            63.75
1          17.40         999             999        9863             8.99
2          20.68        1995            1995         188            23.75
3          16.50        1353            1353       13808            13.56
4          14.67        1798            1798       17746            24.00

[5 rows x 22 columns]

In [42]:
print("shape of original dataset: ",df.shape)
print("shape of modefied dataset: ",new_df.shape)

shape of original dataset:  (99, 14)
shape of modefied dataset:  (99, 22)

# Model Training Part

In [47]:
new_df.iloc[:1,:]

,BMW,Honda,Hyundai,Maruti,Mercedes,Toyota,others,registration_year,insurance_validity_Third Party insurance,insurance_validity_Zero Dep,...,ownership,transmission,seats,kms_driven,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,False,False,False,False,True,False,False,2017,0.0,0.0,...,2.0,1.0,5,56000,2017,7.81,2996,2996,333,63.75

In [72]:
x=new_df.iloc[:,:-1]
x.head()

#extract x from dataframe

,BMW,Honda,Hyundai,Maruti,Mercedes,Toyota,others,registration_year,insurance_validity_Third Party insurance,insurance_validity_Zero Dep,...,fuel_type,ownership,transmission,seats,kms_driven,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm)
0,False,False,False,False,True,False,False,2017,0.0,0.0,...,0.0,2.0,1.0,5,56000,2017,7.81,2996,2996,333
1,False,False,False,False,False,False,True,2021,0.0,0.0,...,0.0,2.0,1.0,5,30615,2020,17.40,999,999,9863
2,True,False,False,False,False,False,False,2018,0.0,0.0,...,1.0,2.0,1.0,5,24000,2018,20.68,1995,1995,188
3,False,False,False,False,False,False,True,2019,0.0,0.0,...,0.0,2.0,0.0,5,18378,2019,16.50,1353,1353,13808
4,False,False,False,False,False,False,True,2019,0.0,0.0,...,0.0,2.0,1.0,5,44900,2019,14.67,1798,1798,17746

In [64]:
y=new_df.iloc[:,-1]
y

#extract y from datafram

0     63.75
1      8.99
2     23.75
3     13.56
4     24.00
      ...
94     4.32
95     4.45
96     2.00
97     3.45
98     5.50
Name: price(in lakhs), Length: 99, dtype: float64

In [75]:
x=x.to_numpy()
print(x)

#convert x into numpy array

[[False False False ... 2996 2996 333]
 [False False False ... 999 999 9863]
 [True False False ... 1995 1995 188]
 ...
 [False False False ... 1248 1248 739]
 [False False True ... 1197 1197 789]
 [False False False ... 1197 1197 8180]]

In [76]:
y=y.to_numpy()
print(y)

#convert y into the numpy array

[63.75  8.99 23.75 13.56 24.    5.45  5.12  9.3  42.    8.02 10.95  8.99
  7.45 10.95  5.78  8.95  8.5  23.5   7.95 18.95 35.    2.09  6.25  2.12
 20.    8.35  5.03  6.95 16.   15.22 26.95  6.7  10.75 25.5   8.38 10.9
  3.95  7.25  4.75 11.95 35.    2.09  6.25  2.12 20.    8.35  5.03  6.95
 16.   15.22 26.95  6.7  10.75 25.5   8.38 10.9   3.95  7.25  4.75 11.95
 16.    5.45 22.95 13.51 40.75 14.5  13.99  6.95 65.    5.15 15.95  2.41
 32.5   5.95  4.32  4.45  2.    3.45  5.5   8.5  16.    5.45 22.95 13.51
 40.75 14.5  13.99  6.95 65.    5.15 15.95  2.41 32.5   5.95  4.32  4.45
  2.    3.45  5.5 ]

In [77]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=22)

#aplitting training data and testing data from x and y

In [80]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(79, 21)
(79,)
(20, 21)
(20,)

In [81]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

#make the object of linear regression class

In [83]:
lr.fit(x_train,y_train)

#model traininig

LinearRegression()

In [86]:
y_predict=lr.predict(x_test)
print(y_predict)

#model testing

[20.35151166 16.34394754  4.07227604  7.93838436  7.33182266 16.98213462
 10.51101979  8.20204411  9.14572011 52.36826877  4.68320323  8.20204411
 52.36826877 15.58265957  1.27545005 15.58265957 15.83531258 20.63672781
 11.07336466 33.86178843]

In [85]:
y_test

array([23.75, 15.22,  5.45,  6.7 ,  7.25,  7.45, 13.99,  6.25,  5.5 ,
        4.45,  4.32,  6.25,  4.45, 26.95,  3.95, 26.95,  8.38, 25.5 ,
       10.9 , 63.75])

In [87]:
from sklearn.metrics import r2_score
r2_score(y_test,y_predict)

#model evaluation

-0.5450335963352193